/*Anastasija Stojkova 246009*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Alice', sans-serif;
    background: #f0fff9;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
    position: relative;
}

/* Navbar */
nav {
    background-color: #f0fff9;
    padding: 1em;
    text-align: center;
}

nav a {
    color: #555;
    margin: 0 20px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: color 0.3s;
}

nav a:hover {
    color: #009097;
}

header {
    background: linear-gradient(135deg, #fff 60%, #009097 40%);
    padding: 3em 1em 2em 1em;
    text-align: center;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);  /* slanted */
    color: #fff;
}
footer {
    background: linear-gradient(135deg, #90e6b8 20%, #02868e 100%);
    padding: 1em 1em 0.5em 1em;
    text-align: center;
    clip-path: polygon(0 40%, 100% 0, 100% 100%, 0% 100%);  /* slanted */
    color: #fff;
}
.icon{
    color: #fff;
    margin: 0 2em 0 2em;
}
header h1 {
    font-size: 2em;
    letter-spacing: 1.5px;
    color: #fff;
}

header p {
    font-size: 1.2em;
    color: #b8f3e6;
    margin-top: 0.5em;
}

/* Section boxes */
section {
    background: #fff;
    margin: 2em auto;
    padding: 2em 3em;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 76, 55, 0.08);
    max-width: 900px;
    position: relative;
}
section:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 76, 55, 0.50);
}
section::before {
    content: '';
    position: absolute;
    top: -15px;
    left: -15px;
    width: 30px;
    height: 30px;
    background: linear-gradient(135deg, #90e6b8 20%, #007178 100%);
    border-radius: 50%;
    opacity: 0.60;
}
nav a[aria-current="page"] {
    color: #015757;
    font-weight: 900;
    border-bottom: 3px solid #004950;
}
h2 {
    font-size: 1.2em;
    color: #015757FF;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin-bottom: 0.5em;
    position: relative;
}

ul {
    margin-left: 1.5em;
    position: relative;
}

li {
    margin-bottom: 0.3em;
}

a {
    color: #009097;
    text-decoration: none;
}
header {
    background: linear-gradient(135deg, #90e6b8 20%, #02868e 100%);
}
body, h1, h2, h3, p, nav, section, a, li {
    font-family: 'Alice', sans-serif !important;
}
.photo-gallery {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap:15px;
    margin-bottom: 20px;
    height: 350px;
}

.photo-gallery img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgb(0, 71, 64);
}
.photo-gallery img:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 76, 55, 0.50);
    width: 101%;
    height: 101%;
}
.profile-container {
     display: flex;
     align-items: center;
     gap: 1.5em;
 }

.profile-photo {
    background: #4c2a01;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 2px solid #b6e4e0;
    box-shadow: 0 4px 8px rgb(1, 81, 87);
}
section ion-icon{
    color: #008a84;
}
.logo{
    margin-bottom: -7px;
    margin-left: 3px;
}